.info-item {
  flex-direction: column;
  text-align: center;
  margin: 0px 28px;
  width: 30%;
}
.ii-title {
  font-size: 22px;
  font-weight: 600;
  margin-top: 18px;
}
.ii-description {
  color: rgb(246, 245, 245);
  margin-top: 18px;
  font-size: 14px;
}
