:root {
  --background: #000000;
  --white: #ffffff;
  --grey: #c0c0c0;
  --text-gradient-bg: rgb(105, 234, 203);
  --text-gradient-1: linear-gradient(
    90deg,
    rgba(105, 234, 203, 1) 0%,
    rgba(234, 204, 248, 1) 50%,
    rgba(102, 84, 241, 1) 100%
  );
  --btn-bg: #2f80ed;
  --bg-blob: rgba(143, 0, 255, 0.2);
  --card-border: #282525;
}
